[submodule "lib/kengdic"]
	path = lib/kengdic
	url = git@github.com:scottgigante/kengdic
[submodule "lib/NaverTTS"]
	path = lib/NaverTTS
	url = git@github.com:scottgigante/NaverTTS
[submodule "lib/gTTS"]
	path = lib/gTTS
	url = git@github.com:scottgigante/gTTS
