[submodule "lib/kengdic"]
	path = lib/kengdic
	url = git@github.com:scottgigante/kengdic
[submodule "lib/gTTS"]
	path = lib/gTTS
	url = git@github.com:scottgigante/gTTS
[submodule "lib/gTTS-token"]
	path = lib/gTTS-token
	url = git@github.com:scottgigante/gTTS-token
